@media only screen and (min-width: 1366px) {

    .zone-jb {
        cursor:pointer;
        font-size:2em;
        border-radius:4px;
        transition: all 0.3s linear;
    }

    .cont-cover-jb{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 8vw;
        margin-right: 8vw;
        margin-bottom: 20vw;

        height: 100% 
    }

    .red-jb{
            background: red; 

     
    }

    .logo-absurd{
            margin-top: 30px;
            width:380px;
            height:330px;
    }


    .beforeIMG>img{
        display:flex;
        justify-content:center;
    }

    .box{
        padding-top: 90px;
        padding-Left: 20px;

    }

    .boxxx{
    
        padding-Left: 20px;
        margin-right: 20px;
       
    }

    .boxSignUpForm{
        padding-Left: 20px;
        margin: 20px;
    }

}


/* Media Queries */

  @media only screen and (min-width: 1920px) {

    .zone-jb {
        cursor:pointer;
        font-size:2em;
        border-radius:4px;
        transition: all 0.3s linear;
    }

    .cont-cover-jb{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 8vw;
        margin-right: 8vw;
        margin-bottom: 15vw;

        height: 100% 
    }

    .red-jb{
            background: red; 

    }

    .logo-absurd{
        margin-top: 30px;
        width:600px;
        height:550px;
    }

    .beforeIMG>img{
        display:flex;
        justify-content:center;
    }

    .box{
        padding-top: 90px;
        padding-Left: 20px;
    }

    .boxxx{
        padding-top: 75px;
        padding-Left: 20px;
        margin: 20px;
    }

    .boxSignUpForm{
        padding-top: 75px;
        padding-Left: 20px;
        margin: 20px;
    }
  }


  @media only screen and (min-width: 2560px) {

    .zone-jb {
        cursor:pointer;
        font-size:2em;
        border-radius:4px;
        transition: all 0.3s linear;
    }

    .cont-cover-jb{
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 8vw;
        margin-right: 8vw;
        margin-bottom: 15vw;

        height: 100% 
    }

    .red-jb{
            background: red; 

    }

    .logo-absurd{
        margin-top: 85px;
        width:700px;
        height:650px;
    }

    .beforeIMG>img{
        display:flex;
        justify-content:center;
    }

    .box{
        padding-top: 90px;
        padding-Left: 20px;
    }

    .boxxx{
       
        padding-top: 150px;
        padding-Left: 20px;
        margin: 20px;
    }

    .boxSignUpForm{
        padding-top: 170px;
        padding-Left: 20px;
        margin: 20px;
    }
  }


